@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --bg-color: hsl(212, 45%, 89%);
    --light-gray: hsl(220, 15%, 55%);
    --heading-color: hsl(218, 44%, 22%);
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font: 1.5rem 'Outfit',sans-serif;
    margin: 0;
    background-color: var(--bg-color);
    line-height: 1.6;
    text-rendering:optimizeLegibility;
    height: 100vh;
}

h1,h2,h3,h4,p,ul,ol, figure {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 200;
}

* {
    box-sizing: border-box;
}

img {
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
}
